.mt-5{
    margin-top: 5px;
}

.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}

.mt-15{
    margin-top: 15px;
}

.text-white{
    color: white;
}

.text-black{
    color: black;
}

.text-green{
    color: green;
}

.text-center{
    text-align: center;
}

/* footer  */
img {
    max-width: 100%;
    height: auto;
}
        section {
            padding: 60px 0;
           /* min-height: 100vh;*/
        }
 ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
.contact-area {
    border-bottom: 1px solid #353C46;
}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
   
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {

    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.contact-social ul li a:hover {
    border: 1px solid #FAB702;
    color: #FAB702;
}

.contact-content img {
    max-width: 210px;
}

section, footer {
    background: black;
    color: #868c96;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 44px;
}


/* pc view  */
@media screen and (min-width: 1024px) {
  #vantage-head{
    margin-top: -500px;
  }

  #hero-text{
    font-size: 180px;
  }

  .logo{
    width: 120px;
  }
  
 
  }



  
  /* 📱 Mobile view (up to 600px) */
  @media (max-width: 600px) {
   .logo{
    width: 60px;
    margin-left: 15px;
   }

   .mil-hero-image{
    display: none;
   }

   #vantage-head{
    margin-top: 300px;
  }
   
  }


  
  /* 📲 Tablet view (601px to 1024px) */
  @media (min-width: 601px) and (max-width: 1024px) {
    
  }
  
  /* 💻 PC/Desktop view (1025px and up) */
  @media (min-width: 1025px) {
  
  }
  
  